section,
.navigation {
    /*Nav se queda en negro*/
    background: black;
}

.white {
    background: white !important;
}

.navigation {
    border-bottom: 1px solid rgb(77, 71, 71);
}

.imgRedonda {
    /*Logo de la página*/
    width: 50px;
    height: 50px;
    border-radius: 150px;
}


.card .img-fluid {
    width: 100%;
    height: 30rem !important;
}


.card h5 {
    border-bottom: 1px solid #383434;
    color: #9a9a9a;
    padding: 10px 5px;
}

.hero-area .container .row div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    margin-bottom: 70px;
}

.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    transition: all 600ms;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
    background: #9C9C9C;
    color: #000;
    transition: all 300ms;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
.box-shadow-card{
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
}
@media screen and (max-width: 991px) {
    .social {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media screen and (max-width:380px) {
    .hero-area {
        padding-top: 180px;

    }

    .video-player {
        width: 85%;
        height: 85%;
    }

    .video-player iframe {
        width: 85%;
        height: 100%;
    }
}